/* ─── 헤더 ───────────────────────────── */

a , a:visited , a:active{
  color: white !important;
}


header {
  background-color: #3E2723; /* 다크 브라운 */
  color: white;
  padding: 20px 0;
  text-align: center;
}

.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.top-right-menu {
  position: absolute;
  color: #f5f4f306;
  top: 10px;
  right: 40px;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  gap: 5px;
  z-index: 100;

}

.top-right-menu hover{
  color : #ffff;
}

header nav a {
  color: white;
  font-size: 1rem;
  padding: 5px 10px;
  transition: color 0.3s;
}

header nav a:hover {
  color: #FF7043; /* 산뜻한 오렌지 */
}