.cart-icon {
    position: relative;
    cursor: pointer;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #719CED;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8rem;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fdfcf7;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
}

.order-query-form {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #2d4739;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #3e5c4a;
}

.order-list {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.order-item {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.order-item img {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
    margin-right: 15px;
}

.order-item-details {
    flex: 1;
}

.order-item h3 {
    margin: 0 0 10px;
}

.order-item p {
    margin: 5px 0;
}

.status-pending {
    color: #ff9800;
}

.status-preparing {
    color: #2196f3;
}

.status-shipping {
    color: #9c27b0;
}

.status-delivered {
    color: #4caf50;
}


main {
    flex: 1;
    padding-bottom: 80px;
    /* Space for fixed footer */
}