<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>수제커피브루 - 홈</title>
  <link rel="stylesheet" href="../static/css/common.css" />
  <link rel="stylesheet" href="../static/css/header3.css" />
  <link rel="stylesheet" href="../static/css/orderform.css" />
  <link rel="stylesheet" href="../static/css/footer.css" />
</head>

<body>
  <header>
    <div class=" header-inner">
      <h1>이른 아침</h1>

      <nav>

        <a href="./early_morning_coffee.html">아침을 여는 이야기</a>
        <a href="./submenu.html">원두/생두</a>
        <a href="./goods_order.html">과일/시럽</a>
        <a href="./coffebeen_order.html">커피용품</a>
        <a href="./etc_order.html">기타용품</a>
        <a href="./findstore.html">매장 찾기</a>
      </nav>

      <div class="top-right-menu">
        <a href="./login.html">로그인</a>
        <span class="divider">|</span>
        <a href="./order_tracking.html">주문조회</a>
        <span class="divider">|</span>
        <span class="divider">|</span>
        <a href="./cart.html">장바구니🛒</a>
        <a href="./dlivery.html">배송현황</a>
      </div>
    </div>
  </header>

  <body>

    <h1 class="main-title">Fruit / Syrup</h1>

    <!-- ───────────────────────────────────────────────────────────────────────── -->
    <!--                               상품 카드 그리드                             -->
    <!-- ───────────────────────────────────────────────────────────────────────── -->
    <main class="card-grid">
      <!-- 카드 1 -->
      <div class="card" data-name="바닐라 시럽" data-price="10000" data-img="img/K-112.png">
        <img src="../static/img/K-112.png" alt="바닐라 시럽" />
        <div class="card-desc">
          <h3>바닐라 시럽</h3>
          <p>₩10,000</p>
          <button class="add-to-cart">구매하기</button>
        </div>
      </div>

      <!-- 카드 2 -->
      <div class="card" data-name="카라멜 시럽" data-price="15000" data-img="img/manual_grinder.jpg">
        <img src="../static/img/K-113.png" alt="카라멜 시럽" />
        <div class="card-desc">
          <h3>카라멜 시럽</h3>
          <p>₩15,000</p>
          <button class="add-to-cart">구매하기</button>
        </div>
      </div>

      <!-- 카드 3 -->
      <div class="card" data-name="헤이즐넛 시럽" data-price="12000" data-img="img/electric_grinder.jpg">
        <img src="../static/img/K-114.png" alt="헤이즐넛 시럽" />
        <div class="card-desc">
          <h3>헤이즐넛 시럽</h3>
          <p>₩12,000</p>
          <button class="add-to-cart">구매하기</button>
        </div>
      </div>

      <!-- 카드 4 -->
      <div class="card" data-name="지파드 자몽 시럽" data-price="16000" data-img="img/coffee_tamper.jpg">
        <img src="../static/img/K-115.png" alt="지파드 자몽 시럽" />
        <div class="card-desc">
          <h3>지파드 자몽 시럽</h3>
          <p>₩16,000</p>
          <button class="add-to-cart">구매하기</button>
        </div>
      </div>

      <!-- 카드 5 -->
      <div class="card" data-name="모닌 엘더 플라워 시럽" data-price="16000" data-img="img/tamper_mat.jpg">
        <img src="../static/img/K-116.png" alt="모닌 엘더 플라워 시럽" />
        <div class="card-desc">
          <h3>모닌 엘더 플라워 시럽</h3>
          <p>₩16,000</p>
          <button class="add-to-cart">구매하기</button>
        </div>
      </div>

      <!-- 카드 6 -->
      <div class="card" data-name="모닌 애플 시럽" data-price="15500" data-img="img/leveling_tool.jpg">
        <img src="../static/img/K-118.png" alt="모닌 애플 시럽" />
        <div class="card-desc">
          <h3>모닌 애플 시럽</h3>
          <p>₩15,000</p>
          <button class="add-to-cart">구매하기</button>
        </div>
      </div>

      <!-- 카드 7 -->
      <div class="card" data-name="모닌 토피넛 시럽" data-price="18500" data-img="img/tamper_stand.jpg">
        <img src="../static/img/K-117.png" alt="모닌 토피넛 시럽" />
        <div class="card-desc">
          <h3>모닌 토피넛 시럽</h3>
          <p>₩18,500</p>
          <button class="add-to-cart">구매하기</button>
        </div>
      </div>

      <!-- 카드 8 -->
      <div class="card" data-name="모닌 파머그래넛 시럽" data-price="16000" data-img="img/milk_jug.jpg">
        <img src="../static/img/K-119.png" alt="모닌 파머그래넛 시럽" />
        <div class="card-desc">
          <h3>모닌 파머그래넛 시럽</h3>
          <p>₩16,000</p>
          <button class="add-to-cart">구매하기</button>
        </div>
      </div>

      <!-- 카드 9 -->
      <div class="card" data-name="모닌 자몽 시럽" data-price="18000" data-img="img/scale_timer.jpg">
        <img src="../static/img/K-118.png" alt="모닌 자몽 시럽" />
        <div class="card-desc">
          <h3>모닌 자몽 시럽</h3>
          <p>₩18,000</p>
          <button class="add-to-cart">구매하기</button>
        </div>
      </div>

      <!-- 카드 10 -->
      <div class="card" data-name="모닌 청사과 시럽" data-price="19000" data-img="img/knock_box.jpg">
        <img src="../static/img/K-126.png" alt="모닌 청사과 시럽" />
        <div class="card-desc">
          <h3>모닌 청사과 시럽</h3>
          <p>₩19,000</p>
          <button class="add-to-cart">구매하기</button>
        </div>
      </div>

      <!-- 카드 11 -->
      <div class="card" data-name="캐모마일 티백" data-price="11000" data-img="img/water_kettle.jpg">
        <img src="../static/img/K-106.png" alt="캐모마일 티백" />
        <div class="card-desc">
          <h3>캐모마일 티백</h3>
          <p>₩11,000</p>
          <button class="add-to-cart">구매하기</button>
        </div>
      </div>

      <!-- 카드 12 -->
      <div class="card" data-name="루이보스 허브 티백" data-price="17000" data-img="img/coffee_canister.jpg">
        <img src="../static/img/K-107.png" alt="루이보스 허브 티백" />
        <div class="card-desc">
          <h3>루이보스 허브 티백</h3>
          <p>₩17,000</p>
          <button class="add-to-cart">구매하기</button>
        </div>
      </div>

      <!-- 카드 13 -->
      <div class="card" data-name="히비스커스 티백" data-price="15000" data-img="img/filter_holder.jpg">
        <img src="../static/img/K-108.png" alt="히비스커스 티백" />
        <div class="card-desc">
          <h3>히비스커스 티백</h3>
          <p>₩15,000</p>
          <button class="add-to-cart">구매하기</button>
        </div>
      </div>

      <!-- 카드 14 -->
      <div class="card" data-name="녹차 티백" data-price="11000" data-img="img/brush_cleaner.jpg">
        <img src="../static/img/K-109.png" alt="녹차 티백" />
        <div class="card-desc">
          <h3>녹차 티백</h3>
          <p>₩11,000</p>
          <button class="add-to-cart">구매하기</button>
        </div>
      </div>

      <!-- 카드 15 -->
      <div class="card" data-name="페퍼민트 얼그레이 티백" data-price="12000" data-img="img/drip_station.jpg">
        <img src="../static/img/K-110.png" alt="페퍼민트 얼그레이 티백" />
        <div class="card-desc">
          <h3>페퍼민트 얼그레이 티백</h3>
          <p>₩12,000</p>
          <button class="add-to-cart">구매하기</button>
        </div>
      </div>

      <!-- 카드 16 -->
      <div class="card" data-name="자몽 스무디 베이스스" data-price="50000" data-img="img/coffee_tray.jpg">
        <img src="../static/img/K-080.png" alt="자몽 스무디 베이스" />
        <div class="card-desc">
          <h3>커피 트레이</h3>
          <p>₩19,000</p>
          <button class="add-to-cart">구매하기</button>
        </div>
      </div>

      <!-- 카드 17 -->
      <div class="card" data-name="수박스무디 베이스" data-price="45000" data-img="img/filter_holder.jpg">
        <img src="../static/img/K-103.png " alt="수박스무디 베이스" />
        <div class="card-desc">
          <h3>수박스무디 베이스</h3>
          <p>₩45,000</p>
          <button class="add-to-cart">구매하기</button>
        </div>
      </div>

      <!-- 카드 18 -->
      <div class="card" data-name="코코넛스무디 베이스" data-price="50000" data-img="img/brush_cleaner.jpg">
        <img src="../static/img/K-101.png" alt="코코넛스무디 베이스" />
        <div class="card-desc">
          <h3>코코넛스무디 베이스</h3>
          <p>₩50,000</p>
          <button class="add-to-cart">구매하기</button>
        </div>
      </div>

      <!-- 카드 19 -->
      <div class="card" data-name="레몬 스무디 베이스" data-price="35000" data-img="img/drip_station.jpg">
        <img src="../static/img/K-105.png" alt="레몬 스무디 베이스" />
        <div class="card-desc">
          <h3>레몬 스무디 베이스</h3>
          <p>₩35,000</p>
          <button class="add-to-cart">구매하기</button>
        </div>
      </div>

      <!-- 카드 20 -->
      <div class="card" data-name="망고 스무디 베이스" data-price="60000" data-img="img/coffee_tray.jpg">
        <img src="../static/img/K-104.png" alt="망고 스무디 베이스" />
        <div class="card-desc">
          <h3>망고 스무디 베이스</h3>
          <p>₩60,000</p>
          <button class="add-to-cart">구매하기</button>
        </div>
      </div>
    </main>


    <footer>
      © 2025 수제커피 이른 아침 | 경기도 커피시 향기구 아라비카로 100
    </footer>

    <script src="../static/js/cart.js">

    </script>
  </body>

</html>