<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <title>수제커피브루 - 홈</title>
  <link rel="stylesheet" href="../static/css/common.css" />
  <link rel="stylesheet" href="../static/css/header.css" />
  <link rel="stylesheet" href="../static/css/index.css" />
  <link rel="stylesheet" href="../static/css/footer.css" />
  <link rel="stylesheet" href="../static\css\early.css"/>
</head>

<body>
  <header>
    <div class="header-inner">
      <h1>이른 아침</h1>

      <nav>
        <a href="./index.html">Home</a>
        <a href="./earlyMorning_Coffee.html">아침을 여는 이야기</a>
        <a href="./submenu.html">원두/생두</a>
        <a href="./goods_order.html">과일/시럽</a>
        <a href="./etc_order.html">커피용품</a>
        <a href="coffebeen_order.html">기타용품</a>
        <a href="./findstore.html">매장 찾기</a>
        
      </nav>

      <div class="top-right-menu">
        <a href="./login.html">로그인</a>
        <span class="divider">|</span>
        <a href="./order_tracking.html">주문조회</a>
        <span class="divider">|</span>
        <span class="divider">|</span>
    <a href="./order_cart.html">장바구니🛒</a>
        <a href="./dlivery.html">배송현황</a>
      </div>
    </div>
  </header>

         
    <footer>
        © 2025 수제커피브루 | 경기도 커피시 향기구 아라비카로 100
    </footer>

    <script src="../static/js/goodsorder.js">
       
    </script>
</body>
</html>