<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메뉴 | 수제커피브루</title>
   <link rel="stylesheet" href="../static/css/submenu.css">
         <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/header.css">
   
    <link rel="stylesheet" href="../static/css/footer.css">
   

</head>

</head>

<body>

    <header>
        <h1><img src="../static/img/K-038.png"> 이른 아침</h1>
        <nav>
            <a href="./index.html">홈</a>
            <a href="./submenu.html" class="active">메뉴</a>
            <a href="./findstore.html">매장 찾기</a>
            <a href="./board.html">자유 게시판</a>
        </nav>
        <nav>
            <a href="./login.html">로그인</a>
            <a href="./join_page.html">회원 가입</a>
            <a href="./dlivery.html">배송현황</a>
            <a href="./order_tracking.html">주문조회</a>
            <span class="cart-icon">장바구니🛒<span class="cart-count">0</span></span>
        </nav>
    </header>


    <div class="menu-container">
        <!-- Coffee Box -->
        <div class="menu-box">
            <h2>커피</h2>
            <div class="coffee" class="menu-item">
                <h3>브루드 아메리카노</h3>
                <p><a href="./menu_order.html"><img src="../img/K-070.png"></a></p>
              
            </div>
            <div class="coffee" class="menu-item">
                <h3>핸드드립 콜드브루</h3>
                <p><a href="./menu_order.html"><img src="../img/K-071.png"></a></p>
              
            </div>
        </div>

        <!-- Beans Box -->
        <div class="menu-box">
            <h2>원두</h2>
            <div class="coffeebeen" class="menu-item">
                <h3>colombia finca el paraiso</h3>
                <p><a href="./coffeebeen.html"><img src="../img/K-010.jpg"></a></p>
               
            </div>
            <div class="coffeebeen" class="menu-item">
                <h3> honduras el puente</h3>
                <p><a href="./coffeebeen.html"><img src="../img/K-009.jpg"></a></p>
                
            </div>
        </div>

        <!-- Goods Box -->
        <div class="menu-box">
            <h2>굿즈</h2>
            <div class="goods" class="menu-item">
                <h3>커피 시럽</h3>
               <p><a href="./goods_order.html"><img src="../img/K-013.jpg"></a></p>
               
            </div>
            <div class="goods" class="menu-item">
                <h3>커피 포트</h3>
            <p><a href="./goods_order.html"><img src="../img/K-014.jpg"></a></p>
                
            </div>
            <div class="goods" class="menu-item">
                <h3>텀블러</h3>
           <a href="./goods_order.html"><img src="../img/K-015.jpg"></a></p>
               
            </div>
        </div>

        <!-- Etc Box -->
        <div class="menu-box">
            <h2>기타</h2><br>
            <div class="etc" class="menu-item">
                <h3>커피 스틱</h3>
                <a href="./etc_order.html"><img src="../img/K-016.jpg"></a></p>
              
            </div>
            <div class="etc" class="menu-item">
                <h3>빨대</h3>
               <a href="./etc_order.html"><img src="../img/K-018.jpg"></a></p>
                
            </div>
            <div class="etc" class="menu-item">
                <h3>컵홀더</h3>
              <a href="./etc_order.html"><img src="../img/K-019.jpg"></a></p>
                
            </div> 
        </div>
    </div>


    <footer>
        &copy; 2025 수제커피브루 | 경기도 커피시 향기구 아라비카로 100
    </footer>

</body>

</html>