<header>
    <div class="header-inner">
      <h1>아침을 여는 이야기</h1>
      <nav>
        <a href="./index.html">Home</a>
        <a href="./early_Morning_Coffee.html">아침을 여는 이야기</a>
        <a href="./proj_submenu.html">원두/생두</a>
        <a href="./goods_order.html">과일/시럽</a>
        <a href="./etc_order.html">커피용품</a>
        <a href="./coffebeen_order.html">기타용품</a>
        <a href="./findstore.html">매장 찾기</a>
      </nav>
      <div class="top-right-menu">
        <a href="./login.html">로그인</a>
        <span class="divider">|</span>
        <a href="./order_tracking.html">주문조회</a>
        <span class="divider">|</span>
        <a href="./cart.html">장바구니🛒</a>
        <span class="divider">|</span>
        <a href="./dlivery.html">배송현황</a>
      </div>
    </div>
  </header>