<header>
    <div class="header-inner">
      <h1>이른 아침</h1>

      <nav>

        <a href="./early_morning_coffee.html">회사소개</a>
        <a href="./submenu.html">원두/생두</a>
        <a href="./goods_order.html">과일/시럽</a>
        <a href="./etc_order.html">커피용품</a>
        <a href="./coffebeen_order.html">기타용품</a>
        <a href="./findstore.html">매장 찾기</a>
      </nav>

      <div class="top-right-menu">
        <a href="./login.html">로그인</a>
        <span class="divider">|</span>
        <a href="./tracking.html">주문조회</a>
        <span class="divider">|</span>
        <span class="divider">|</span>
        <a href="./order_cart.htmll">장바구니🛒</a>
        <a href="./dlivery.html">배송현황</a>
      </div>
    </div>
  </header>