<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메뉴 | 수제커피브루</title>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/coffeebeen.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>

    <header>
        <h1>수제커피 이른 아침</h1>
        <nav>            
           <a href="./index.html">Home</a>
            <a href="./submenu.html" class="active">메뉴</a>
            <a href="./findstore.html">매장 찾기</a>
            <a href="./order_page.html">배송현황</a>
            <a href="./order_tracking.html" class="active">주문조회</a>
            <a href="./login.html">로그인</a>
            <a href="./page.html">회원 가입</a>
           <a href="./cart.html">장바구니🛒</a>
        </nav>

    <div class="menu-container">
        <h2 class="menu-title">우리의 인기 커피 원두 메뉴</h2>
        <div class="menu-grid">
            <div class="menu-card">
                <img src="./02_CSS/img/bg_tree.png" alt="브루드 아메리카노">
                <div class="menu-card-content">
                    <h3>블루 보틀 - (bella donovan)</h3>
                    <p>roasting : 미디엄</p>
                    <p>flavorNotes = 딸기, 밀크초콜릿, 몰트</p>
                    <p>characteristics = </p><p> 에티오피아와 수마트라 블렌드 , 밸런스 좋아서 핸드드립, 브루잉용으로 인기 많아요</p>
                    <p><strong>₩4,000</strong></p>
                </div>
            </div>
            


            <div class="menu-card">
                <img src="./02_CSS/img/bg_tree.png" alt="핸드드립 콜드브루">
                <div class="menu-card-content">
                    <h3>colombia finca el paraiso</h3>
                    <p>roasting : 라이트</p>
                    <p>flavorNotes = 자몽, 장미, 복숭아</p>
                    <p>characteristics = </p><p></p>
                    <p><p>꽃향기가 도는 산미와 과일향의 조화,<br> 힙스터 감성 뿜뿜<br>
                    <p><strong>₩4,500</strong></p>
                </div>
            </div>

            <div class="menu-card">
                <img src="./02_CSS/img/bg_tree.png" alt="시그니처 라떼">
                <div class="menu-card-content">
                    <h3>honduras el puente</h3>
                    <p>roasting : 라이트</p>
                    <p>flavorNotes = 청사과, 설탕시럽, 은은한 향신료</p>
                    <p>characteristics = </p><p></p>
                    <p>덴마크 대표 미니멀 감성 로스터리, 
                    <p>맛도 미니멀하게 깔끔</p>
                    <p><strong>₩5,000</strong></p>
                </div>
            </div>
            <div class="menu-card">
                <img src="./02_CSS/img/bg_tree.png" alt="밀크 라떼">
                <div class="menu-card-content">
                    <h3>cup of excellence</h3>
                    <p>roasting : 라이트</p>
                    <p>flavorNotes = 열대과일, 재스민, 청포도</p>
                    <p>characteristics = </p><p></p>
                    <p>COE(컵오브 엑셀렌스)수상작
                    <p>품질부터 다른 산미풍 커피의 정점</p>
                    <p><strong>₩6,000</strong></p>
                </div>
            </div>
        </div>


        <h2 class="menu-title">시즌 기념 한정 커피 원두</h2>
        <div class="menu-grid">
            <div class="menu-card2">
                <img src="./02_CSS/img/bg_tree.png" alt="브루드 아메리카노">
                <div class="menu-card-content">
                    <h3>el paraiso double anaerobic washed</h3>
                    <p>roasting : 라이트</p>
                    <p>flavorNotes = 딸기 요구르트,장미,열대과일</p>
                    <p>characteristics = </p><p></p>
                    <p>향미가 미쳤어요,실험적이고 독보적적
                    <p></p>
                    <p><strong>₩7,000</strong></p>
                </div>
            </div>

            <div class="menu-card2">
                <img src="./02_CSS/img/bg_tree.png" alt="핸드드립 콜드브루">
                <div class="menu-card-content">
                    <h3>ethiopia yirgacheffe</h3>
                    <p>roasting : 없음</p>
                    <p>flavorNotes = 레몬,베리류,꽃향기,복숭아</p>
                    <p>characteristics = </p><p></p>
                    <p>예가체프는 에티오피아의 대표적 커피재배지역으로, 
                    <p>과일향이 두드러지는 커피로 유명합니다</p>
                    <p><strong>₩7,500</strong></p>
                </div>
            </div>

            <div class="menu-card2">
                <img src="./02_CSS/img/bg_tree.png" alt="시그니처 라떼">
                <div class="menu-card-content">
                    <h3>kenya aa</h3>
                    <p>roasting : 없음</p>
                    <p>flavorNotes = 블랙베리, 자몽, 시트러스스</p>
                    <p>characteristics = </p><p></p>
                    <p>높은 고도에서 자란 아라비카 커피로 유명하며,
                    <p>뛰어난 과일향과 풍부한 산미를 자랑합니다.</p>
                    <p><strong>₩6,000</strong></p>
                </div>
            </div>

            <div class="menu-card2">
                <img src="./02_CSS/img/bg_tree.png" alt="에스프레쏘">
                <div class="menu-card-content">
                    <h3>brazil santos</h3>
                    <p>roasting : 없음</p>
                    <p>flavorNotes = 초콜릿, 캐러맬, 견과류</p>
                    <p>characteristics = </p><p></p>
                    <p>부드럽고 균형잡힌 맛이 특징으로
                    <p>우유와 잘 어울립니다</p>
                    <p><strong>₩6,000</strong></p>
                </div>
            </div>

            <div class="menu-card2">
                <img src="./02_CSS/img/bg_tree.png" alt="에스프레쏘">
                <div class="menu-card-content">
                    <h3>colombia supremo</h3>
                    <p>roasting : 없음</p>
                    <p>flavorNotes = 사과, 캐러멜,초콜릿, 약간의 견과류 향</p>
                    <p>characteristics = </p><p></p>
                    <p>부드럽고 균형잡힌 맛으로 유명하며
                    <p>우유와 함께 할때 맛이 더 부각됩니다.</p>
                    <p><strong>₩6,000</strong></p>
                </div>
            </div>

            <div class="menu-card2">
                <img src="./02_CSS/img/bg_tree.png" alt="에스프레쏘">
                <div class="menu-card-content">
                    <h3>ethiopia yirgacheffe washed</h3>
                    <p>roasting : 없음</p>
                    <p>flavorNotes = 재스민 꽃향기,레몬,베리류,복숭아</p>
                    <p>characteristics = </p><p></p>
                    <p>핸드드립에 가장 잘맞는 고급 원두 중 하나로,
                    <p>특유의 밝은 산미와 꽃향기가 인상적</p>
                    <p><strong>₩8,000</strong></p>
                </div>
            </div>

            <div class="menu-card2">
                <img src="./02_CSS/img/bg_tree.png" alt="에스프레쏘">
                <div class="menu-card-content">
                    <h3>로브스타</h3>
                    <p>roasting : 미디엄 다크</p>
                    <p>flavorNotes = 다크초콜릿, 너트, 카라멜</p>
                    <p>characteristics = </p><p></p>
                    <p>묵직한 바디감과 은은한 스모키함 ,
                    <p>라떼 용으로도 인기 </p>
                    <p><strong>₩6,000</strong></p>
                </div>
            </div>

            <div class="menu-card2">
                <img src="./02_CSS/img/bg_tree.png" alt="에스프레쏘">
                <div class="menu-card-content">
                    <h3>이른 아침 시그니처</h3>
                    <p>roasting : 미디엄 라이트</p>
                    <p>flavorNotes = 너트, 꽃향기, 초콜릿</p>
                    <p>characteristics = </p><p></p>
                    <p>이른 아침이 자신있게 내놓은
                    <p>깊은 산미와 꽃향기로 아침을 깨우는 커피</p>
                    <p><strong>₩10,000</strong></p>
                </div>
            </div>



        </div>
    </div>
    
    <footer>
        &copy; 2025 수제커피브루 | 경기도 커피시 향기구 아라비카로 100
    </footer>

</body>

</html>