<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 | 카페</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/header.css">

    <link rel="stylesheet" href="../static/css/footer.css">
    <style>

    </style>
</head>

<body>
    <header>
        <div class="header-inner">
            <h1>이른 아침</h1>

            <nav>
                <a href="./index.html">Home</a>
                <a href="./early_morning_coffee.html">회사소개</a>
                <a href="./submenu.html">원두/생두</a>
                <a href="./goods_order.html">과일/시럽</a>
                <a href="./coffebeen_order.html">커피용품</a>
                <a href="./etc_order.html">기타용품</a>
                <a href="./findstore.html">매장 찾기</a>
            </nav>

            <div class="top-right-menu">
                <a href="./login.html">로그인</a>
                <span class="divider">|</span>
                <a href="./board.html">게시판</a>
                <span class="divider">|</span>
                <a href="./cart.html">장바구니🛒</a>
                <span class="divider">|</span>
                <a href="./dlivery.html">배송현황</a>
            </div>
        </div>
    </header>
    <main class="container">
        <form id="login-form">
            <h2>로그인</h2>
            <label>이메일:
                <input type="email" name="email" id="email-input" required>
            </label>
            <label>비밀번호:
                <input type="password" name="password" id="password-input" required>
            </label>
            <button id="login-btn" type="submit">로그인</button>
            <p><a href="./recover_page.html">아이디/비밀번호 찾기</a></p>
            <p><a href="./join_page.html">회원가입</a></p>

        </form>
        <div id="login-confirm"></div>
    </main>
    <footer>
        © 2025 수제커피브루 | 경기도 커피시 향기구 아라비카로 100
    </footer>
    <script src="../static/js/login.js">

    </script>
</body>

</html>