<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커피원두/생두</title>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/menu_order.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>
    <header>
        <h1><a style="text-decoration-line: none;" href="./index.html">이른 아침</h1></a>
        <nav>
            <a href="./07_teamproj_index.html">Home</a>
            <a href="./07_teamproj_submenu.html">메뉴</a>
            <a href="./07_teamproj_menu_order.html" class="active">주문하기</a>
            <a href="./07_teamproj_findstore.html">매장 찾기</a>
            <a href="./07_teamproj_order_page.html">배송현황</a>


            <div class="top-right-menu">
                <a href="./login.html">로그인</a>
                <span class="divider">|</span>
                <a href="./board.html">게시판</a>
                <span class="divider">|</span>
                <a href="./cart.html">장바구니🛒</a>
                <span class="divider">|</span>
                <a href="./dlivery.html">배송현황</a>
            </div>
        </nav>
    </header>


    <footer>
        <div class="footer-inner">
            <strong>상호명</strong> :  이른아침 &nbsp; | &nbsp;
            <strong>주소</strong> : 경기도 커피시 향기구 아라비카로 100 &nbsp; | &nbsp;
            <strong>대표자</strong> : 김커피 &nbsp; | &nbsp;
            <strong>사업자등록번호</strong> : 123-45-67890 &nbsp; | &nbsp;
            <strong>대표전화</strong> : 02-1234-5678<br />
            &copy; 2025 SUJAE COFFEE BREW. All rights reserved.
        </div>
    </footer>

    <script src="../static/js/menu_order.js">

    </script>
</body>

</html>