<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> 원두/생두</title>

  <link rel="stylesheet" href="../static/css/common.css" />
  <link rel="stylesheet" href="../static/css/header3.css" />
  <link rel="stylesheet" href="../static/css/index.css" />
  <link rel="stylesheet" href="../static/css/footer.css" />
  <link rel="stylesheet" href="../static/css/orderform.css">

</head>

<body>
  <header>
    <div class="header-inner">
      <h1>이른 아침</h1>

      <nav>

        <a href="./early_morning_coffee.html">아침을 여는 이야기</a>
        <a href="./submenu.html">원두/생두</a>
        <a href="./goods_order.html">과일/시럽</a>
        <a href="./coffebeen_order.html">커피용품</a>
        <a href="./etc_order.html">기타용품</a>
        <a href="./findstore.html">매장 찾기</a>
      </nav>

      <div class="top-right-menu">
        <a href="./login.html">로그인</a>
        <span class="divider">|</span>
        <a href="./order_tracking.html">주문조회</a>
        <span class="divider">|</span>
        <span class="divider">|</span>
        <a href="./cart.html">장바구니🛒</a>
        <a href="./dlivery.html">배송현황</a>
      </div>
    </div>
  </header>

  </nav>
  </header>






  </div>

  <h1 class="main-title">Coffee Beens</h1>
  <main class="card-grid">

    <!-- 카드 1: 커피원픽 – bella donovan -->
    <div class="card" data-name="bella donovan" data-price="4000" data-img="../static/img/K-009.jpg">
      <div class="card-label">커피원픽</div>
      <img src="../static/img/K-009.jpg" alt="bella donovan">

      <h3><strong>bella donovan</h3></strong><br>
      • roasting : 미디엄<br>
      • flavorNotes = 딸기, 밀크초콜릿, 몰트<br>
      • 에티오피아와 수마트라 블렌드 , 밸런스 좋아서 핸드드립, 브루잉용으로 인기

      <h5><strong>₩4,000</h5></strong>
      <p class="card-desc"><button class="add-to-cart">구매하기</button></p>
    </div>

    <!-- 카드 2: 커피원픽 – colombia finca el paraiso -->
    <div class="card" data-name="colombia finca el paraiso" data-price="4500" data-img="../static/img/K-010.jpg">
      <div class="card-label">원두</div>
      <img src="../static/img/K-010.jpg" alt="colombia finca el paraiso">
      <h3><strong> finca el paraiso</strong></h3><br>
      • roasting : 라이트<br>
      • flavorNotes = 자몽, 장미, 복숭아<br>
      • 꽃향기가 도는 산미와 과일향의 조화, 힙스터 감성 뿜뿜<br>
      <p>
      <h5><strong>₩4,500</h5></strong>
      <p class="card-desc"><button class="add-to-cart">구매하기</button></p>
    </div>

    <!-- 카드 3: 머신원픽 – honduras el puente -->
    <div class="card" data-name="honduras el puente" data-price="5000" data-img="../static/img/K-020.jp">
      <div class="card-label">원두</div>
      <img src="../static/img/K-020.jpg" alt="honduras el puente">
      <h3><strong>honduras el puente</h3></strong><br>
      • roasting : 라이트<br>
      • flavorNotes = 청사과, 설탕시럽, 은은한 향신료<br>
      • 덴마크 대표 미니멀 감성 로스터리, 맛도 미니멀하게 깔끔
      <p>
      <h5><strong>₩5,000</h5></strong>
      <p class="card-desc"><button class="add-to-cart">구매하기</button></p>
    </div>

    <!-- 카드 4: 머신원픽 – cup of excellence -->
    <div class="card" data-name="cup of excellence" data-price="6000" data-img="../static/img/K-021.jpg">
      <div class="card-label">원두</div>
      <img src="../static/img/K-021.jpg" alt="cup of excellence" />

      <h3><strong>cup of excellence</h3></strong><br>
      • roasting : 라이트<br>
      • flavorNotes = 열대과일, 재스민, 청포도<br>
      • COE(컵오브 엑셀렌스)수상작 품질부터 다른 산미풍 커피의 정점

      <h5><strong>₩6,000</h5></strong>
      <p class="card-desc"><button class="add-to-cart">구매하기</button></p>
    </div>

    <!-- 카드 5: 커피생두 – el paraiso double anaerobic washed -->
    <div class="card" data-name="el paraiso double anaerobic washed" data-price="7000"
      data-img="../static/img/K-022.jpg">
      <div class="card-label">원두</div>
      <img src="../static/img/K-022.jpg" alt="el paraiso double anaerobic washed" />

      <h3><strong>el paraiso double <br>anaerobic washed</h3></strong>
      • roasting : 라이트<br>
      • flavorNotes = 딸기 요구르트,장미,열대과일<br><br>
      • 향미가 미쳤어요, 실험적이고 독보적<br>

      <h5><strong>₩7,000</h5></strong>
      <p class="card-desc"><button class="add-to-cart">구매하기</button></p>
    </div>

    <!-- 카드 6: 커피생두 – ethiopia yirgacheffe -->
    <div class="card" data-name="ethiopia yirgacheffe" data-price="7500" data-img="../static/img/K-023.jpg">
      <div class="card-label">원두</div>
      <img src="../static/img/K-023.jpg" alt="ethiopia yirgacheffe" />

      <h3><strong>ethiopia yirgacheffe</h3></strong><br>
      • roasting : 없음<br>
      • flavorNotes = 레몬,베리류,꽃향기,복숭아<br>
      • 예가체프는 에티오피아의 대표적 커피재배지역으로, 과일향이 두드러지는 커피로 유명합니다

      <h5><strong>₩7,500</h5></strong>
      <p class="card-desc"><button class="add-to-cart">구매하기</button></p>
    </div>

    <!-- 카드 6: 커피생두 – kenya aa -->
    <div class="card" data-name="kenya aa" data-price="6000" data-img="../static/img/K-024.jpg">
      <div class="card-label">원두</div>
      <img src="../static/img/K-024.jpg" alt="kenya aa" />

      <h3><strong>kenya aa</h3></strong><br>
      • roasting : 없음<br>
      • flavorNotes = 블랙베리, 자몽, 시트러스스<br>
      • 높은 고도에서 자란 아라비카 커피로 유명하며, 뛰어난 과일향과 풍부한 산미를 자랑합니다.

      <h5><strong>₩6,000</h5></strong>
      <p class="card-desc"><button class="add-to-cart">구매하기</button></p>
    </div>

    <!-- 카드 6: 커피생두 – brazil santos -->
    <div class="card" data-name="brazil santos" data-price="6000" data-img="../static/img/K-025.jpg">
      <div class="card-label">원두</div>
      <img src="../static/img/K-025.jpg" alt="brazil santos" />

      <h3><strong>brazil santos</h3></strong><br>
      • roasting : 없음<br>
      • flavorNotes = 초콜릿, 캐러맬, 견과류<br><br>
      • 부드럽고 균형잡힌 맛이 특징으로 우유와 잘 어울립니다<br>
      <p>
      <h5><strong>₩6,000</h5></strong>
      <p class="card-desc"><button class="add-to-cart">구매하기</button></p>
    </div>

    <!-- 카드 6: 커피생두 – colombia supremo -->
    <div class="card" data-name="colombia supremo" data-price="6000" data-img="../static/img/K-026.jpg">
      <div class="card-label">원두</div>
      <img src="../static/img/K-026.jpg" alt="colombia supremo" />

      <h3><strong>colombia supremo</h3></strong><br>
      • roasting : 없음<br>
      • flavorNotes = 사과, 캐러멜,초콜릿, 약간의 견과류 향<br>
      • 부드럽고 균형잡힌 맛으로 유명하며 우유와 함께 할때 맛이 더 부각됩니다.
      <p>
      <h5><strong>₩6,000</h5></strong>
      <p class="card-desc"><button class="add-to-cart">구매하기</button></p>
    </div>

    <!-- 카드 6: 커피생두 – ethiopia yirgacheffe washed -->
    <div class="card" data-name="ethiopia yirgacheffe washed" data-price="8000" data-img="../static/img/K-027.jpg">
      <div class="card-label">원두</div>
      <img src="../static/img/K-027.jpg" alt="ethiopia yirgacheffe washed" />

      <h3><strong>ethiopia <br>yirgacheffe washed</h3></strong>
      • roasting : 없음<br>
      • flavorNotes = 재스민 꽃향기,레몬,베리류,복숭아<br>
      • 핸드드립에 가장 잘맞는 고급 원두 중 하나로, 특유의 밝은 산미와 꽃향기가 인상적
      <p>
      <h5><strong>₩8,000</h5></strong>
      <p class="card-desc"><button class="add-to-cart">구매하기</button></p>
    </div>

    <!-- 카드 6: 커피생두 – 로브스타 -->
    <div class="card" data-name="로브스타" data-price="6000" data-img="../static/img/K-028.jpg">
      <div class="card-label">원두</div>
      <img src="../static/img/K-028.jpg" alt="로브스타" />

      <h3><strong>로브스타</strong></h3><br>
      • roasting : 미디엄 다크<br>
      • flavorNotes = 다크초콜릿, 너트, 카라멜<br>
      • 묵직한 바디감과 은은한 스모키함 , 라떼 용으로도 인기
      <p>
      <h5><strong>₩6,000</h5></strong>
      <p class="card-desc"><button class="add-to-cart">구매하기</button></p>
    </div>

    <!-- 카드 6: 커피원액 – 이른 아침 시그니처 -->
    <div class="card" data-name="이른 아침 시그니처" data-price="10000" data-img="../static/img/K-011.jpg">
      <div class="card-label">커피 원액</div>
      <img src="../static/img/K-011.jpg" alt="이른 아침 시그니처" />

      <h3><strong>이른 아침 시그니처</strong></h3><br>
      • roasting : 미디엄 라이트<br>
      • flavorNotes = 너트, 꽃향기, 초콜릿<br><br>
      • 이른 아침이 자신있게 내놓은 깊은 산미와 꽃향기로 아침을 깨우는 커피<br>
      <p>
      <h5><strong>₩10,000</h5></strong>
      <p class="card-desc"><button class="add-to-cart">구매하기</button></p>
    </div>

  </main>


  </main>

  <footer>
    <p>© 2025 이른 아침 커피브루 | 경기도 커피시 향기구 아라비카로 100</p>
  </footer>

</body>

</html>


<script src="../static/js/cart.js"></script>
</body>

</html>